<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>javaHospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Connection Pool</description>
    <res-ref-name>jdbc/javaHospital</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <description></description>
    <display-name>PatientServlet</display-name>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>UserServlet.PatientServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>UserServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DoctorServlet</display-name>
    <servlet-name>DoctorServlet</servlet-name>
    <servlet-class>UserServlet.DoctorServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>UserServlet.AdminServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/UserServlet/patient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/UserServlet/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/UserServlet/doctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/UserServlet/admin</url-pattern>
  </servlet-mapping>
</web-app>